.Leave {
  width: 100%;
  height: 85%;
  /* padding-bottom: 6rem; */
}
.Leave-main {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
}

.Leave-box {
  margin-top: 2rem;
}

.Leave-box-left h2,
.Leave-box-right h2 {
  color: white;
  font-size: 20px;
}
.Leave-box-right {
  margin-top: 3rem;
}

.leave-left-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 2rem;
}

.leave-card {
  background-color: #98d8ef;
  color: black;
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.leave-button {
  margin-top: 1rem;
}
.leave-button p {
  margin: 0;
  padding: 1rem;
  background-color: #e52114;
  color: white;
  text-align: center;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.leave-card p {
  margin: 0;
}
.leave-card h1 {
  margin: 0;
  color: black;
  font-size: 40px;
}
.leave-card h1 span {
  margin: 0;
  color: black;
  font-size: 18px;
}

.Leave-box-left h2,
.Leave-box-right h2 {
  text-align: center;
  color: black;
}

.leave-right-box {
  background-color: #98d8ef;
  border-radius: 8px;
  padding: 15px;
  position: relative;
  margin-top: 2rem;
  padding-top: 3rem;
}

.leave-right-top {
  background-color: #e8f9ff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2px;
  border: 1px solid #e8f9ff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.rt-left {
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.rt-left p,
.rt-right p {
  margin: 0;
  padding: 10px 12px;
  color: black;
}

.rt-right {
  background-color: #98d8ef;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.leave-right-filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
  margin-bottom: 1rem;
}
.leave-right-filter p {
  margin: 0;
  background-color: #fbfbfb;
  padding: 10px 12px;
  border-radius: 8px;
  font-size: 14px;
  color: black;
}
.leave-right-filter .dropdown-menu {
  background-color: #fbfbfb;
}
.leave-right-filter .dropdown-menu li {
  color: black;
  padding: 10px 12px;
}
.leave-right-filter .btn {
  box-shadow: none;
}

.leave-right-card {
  background-color: #e8f9ff;
  border-radius: 8px;
  padding: 1rem;
  /* margin-bottom: 1rem; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.lr-card-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #525252;
  margin-bottom: 10px;
  padding-bottom: 5px;
}
.lr-card-left h4 {
  margin: 0;
  color: black;
  font-size: 18px;
}

.status {
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 0;
  color: white;
  border-radius: 8px;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 400;
}

.status.approved ,
.status.present {
  background-color: green;
}

.status.rejected ,
.status.absent {
  background-color: red;
}

.status.pending ,
.status.late ,
.status.half {
  background-color: #525252;
}

.lr-card-right p {
  color: black;
  margin: 0;
}

.lr-card-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}
.lr-card-box h5 {
  font-size: 14px;
  margin: 0;
  color: rgb(120, 120, 120);
}
.lr-card-box p {
  font-size: 12px;
  margin: 0;
  color: rgb(120, 120, 120);
}

.leave-right-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

@media screen and (min-width: 1200px) {
  .Leave-main {
    max-width: 1080px;
  }
}

@media only screen and (max-width: 990px) {
  .Leave {
    width: 100%;
    height: 100%;
    margin-bottom: 6rem;
  }
  .Leave-box {
    flex-wrap: wrap;
    margin: 0;
  }
  .Leave-box-right {
    padding-bottom: 7rem;
  }
  .leave-right-top {
    width: 65%;
  }
  .rt-left,
  .rt-right {
    width: 50%;
  }
  .leave-right-details {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
}
