.Overview {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.overview-card {
  background-color: #98d8ef;
  color: black;
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-decoration: none;
}

.overcard-left p {
  margin: 0;
  color: black;
}

.overcard-left svg {
  font-size: 25px;
  color: black;
}

.overcard-right p {
  margin: 0;
  background-color: #e8f9ff;
  color: black;
  display: flex;
  align-content: center;
  justify-content: center;
  border-radius: 50px;
  padding: 10px;
  height: 50px;
  width: 50px;
  font-size: 20px;
}
