html {
  scroll-behavior: smooth;
}

body,
#root {
  height: 91vh;
  margin: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.app-container {
  flex: 1; /* Makes it take up remaining space */
  overflow-y: auto; /* Enables scrolling */
  -ms-overflow-style: none; /* Hide scrollbar in IE & Edge */
  scrollbar-width: none; /* Hide scrollbar in Firefox */
  /* margin-top: 6rem; */
}

.app-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar in Chrome, Safari */
}
